.form-item{
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 5px 0px 5px 0;
    display: block;
}

.form-item .form-label{
    width: 100px;
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    position: relative;
}
.form-item .form-input{
    margin-left: 130px;
    min-height: 36px;
    position: relative;
}
.form-item .form-input .inputF{
    height:38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding-left: 10px;
    background-color: #fff;
}